# ignore ALL .log files
*.log
*.png
*.pyc 
*.json
*.yaml
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/
logs/
tb_logs/
lightning_logs/

# ignore ALL files in ANY directory named temp
